@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
:root {
  --bg-color: #3c0fa5;
  --main-color: #ff4bff;
  --second-color: #730ab9;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Permanent Marker', cursive;
}

.glow {
  display: flex;
  height: 100vh;
  background: var(--bg-color);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.glow:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 400%;
  height: 100%;
  background: linear-gradient(90deg, var(--bg-color) 0%, var(--second-color) 25%, var(--second-color) 75%, var(--bg-color) 100%);
  -webkit-animation: move 2.4s linear infinite;
  animation: move 2.4s linear infinite;
}

.glow__title {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 60px;
  z-index: 996;
  color: #4cc9f0;
  opacity: 0.8;
  color: var(--bg-color);
}

.glow__worm {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 996;
  flex-direction: row-reverse;
}

.glow__line {
  position: relative;
  width: 10%;
  height: 1vw;
  border-radius: 20px;
  -webkit-animation: shrink 1.2s ease infinite alternate;
  animation: shrink 1.2s ease infinite alternate;
  background: var(--main-color);
  box-shadow: 0 0 3px var(--main-color);
}

.glow__line:nth-child(1) {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
  z-index: 100;
}

.glow__line:nth-child(2) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  z-index: 99;
}

.glow__line:nth-child(3) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  z-index: 98;
}

.glow__line:nth-child(4) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
  z-index: 97;
}

.glow__line:nth-child(5) {
  z-index: 96;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.glow__track {
  position: absolute;
  top: 50%;
  display: block;
  width: 50%;
  height: .5vw;
  transform: translateY(-50%);
  left: 0;
  background: linear-gradient(to right, transparent, #4cc9f0, transparent);
  opacity: 0.3;
  -webkit-animation: shake 1.2s linear infinite;
  animation: shake 1.2s linear infinite;
  border-radius: 10px;
  z-index: 5;
}

.glow__city {
  display: flex;
  z-index: 998;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: flex-end;
}

.glow__house {
  background: #000;
  width: calc(100% / 11);
  height: 100px;
  box-shadow: 0 -5px 15px #4361ee;
  opacity: 0.6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.glow__house:nth-child(1) {
  height: 12vh;
}

.glow__house:nth-child(2) {
  height: 20vh;
}

.glow__house:nth-child(3) {
  height: 16vh;
}

.glow__house:nth-child(4) {
  height: 32vh;
}

.glow__house:nth-child(5) {
  height: 26vh;
}

.glow__house:nth-child(6) {
  height: 40vh;
}

.glow__house:nth-child(7) {
  height: 24vh;
}

.glow__house:nth-child(8) {
  height: 12vh;
}

.glow__house:nth-child(9) {
  height: 20vh;
}

.glow__house:nth-child(10) {
  height: 12vh;
}

.glow__house:nth-child(11) {
  height: 25vh;
}

.glow__spotify {
  height: 80px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 999;
  opacity: 0.4;
  display: flex;
  justify-content: center;
}

@-webkit-keyframes shake {
  0% {
    transform: translateY(-50%);
  }
  10% {
    transform: translateY(calc(-50% + 3px));
  }
  20% {
    transform: translateY(calc(-50% - 2px));
  }
  30% {
    transform: translateY(calc(-50% - 3px));
  }
  40% {
    transform: translateY(calc(-50% - 1px));
  }
  50% {
    transform: translateY(calc(-50% + 3px));
  }
  60% {
    transform: translateY(calc(-50% + 3px));
  }
  70% {
    transform: translateY(calc(-50% + 2px));
  }
  80% {
    transform: translateY(calc(-50% + 2px));
  }
  90% {
    transform: translateY(calc(-50% + 1px));
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes shake {
  0% {
    transform: translateY(-50%);
  }
  10% {
    transform: translateY(calc(-50% + 3px));
  }
  20% {
    transform: translateY(calc(-50% - 2px));
  }
  30% {
    transform: translateY(calc(-50% - 3px));
  }
  40% {
    transform: translateY(calc(-50% - 1px));
  }
  50% {
    transform: translateY(calc(-50% + 3px));
  }
  60% {
    transform: translateY(calc(-50% + 3px));
  }
  70% {
    transform: translateY(calc(-50% + 2px));
  }
  80% {
    transform: translateY(calc(-50% + 2px));
  }
  90% {
    transform: translateY(calc(-50% + 1px));
  }
  100% {
    transform: translateY(-50%);
  }
}

@-webkit-keyframes shrink {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(2) scaleY(0.5);
  }
}

@keyframes shrink {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(2) scaleY(0.5);
  }
}

@-webkit-keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}