body {
  margin: 0;
  font-family: monospace;
  font-size: 20px;
  background-color: #000;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #210f5b;
}

body::-webkit-scrollbar-thumb {
  background: #035ee8;
}

body::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-shadow: 2px 0px 2px rgba(255, 0, 255, .5), -2px 0px 2px rgba(0, 255, 191, .5), 0px 0px 10px rgba(49, 122, 255, 1);
}

input, button {
  font-family: monospace;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.container-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.full-height {
  height: 100vh;
  min-height: 500px;
  overflow: hidden;
}

.bg-overlay {
  position: relative;
}

.bg-overlay>.container:not(.container-centered) {
  position: relative;
  z-index: 1;
}

.bg-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

.text-white {
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  min-width: 150px;
  color: #000;
  font-size: 18px;
  border-radius: 10px;
  background-color: #2de2e6;
  transition: all 250ms;
}

.btn:link {
  text-decoration: none;
}

.btn[type=submit] {
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: #9700cc;
  overflow: hidden;
}

.btn[type=submit]:hover {
  color: #000;
  text-shadow: 30px 30px 5px #000;
  box-shadow: 0 0 15px 15px #9700cc;
  background-color: #fff;
}

button.btn {
  border: 0;
  cursor: pointer;
}

.btn:hover {
  color: #2de2e6;
  text-shadow: 1px 1px 5px #2de2e6;
  box-shadow: 0 0 15px 15px #2de2e6;
  background-color: transparent;
}

.btn+.btn {
  margin-left: 30px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  width: 100%;
  box-shadow: 0 0 15px 0 #9700cc;
  background-color: #000;
  z-index: 3;
  transition: all 250ms;
}

.header:hover {
  box-shadow: 0 15px 15px 0 rgba(3, 94, 232, .75);
}

.header>.container {
  position: relative;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-list__item {
  display: inline-block;
  margin: 0 15px;
}

.nav-list__item a {
  color: #2de2e6;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 250ms;
}

.nav-list__item a:hover {
  display: inline-block;
  color: #035ee8;
  text-shadow: 2px 0px 2px rgba(255, 0, 255, .5), -2px 0px 2px rgba(0, 255, 191, .5), 0px 0px 10px rgba(49, 122, 255, 1);
  transform: scale(1.2);
}

.hero {
  position: relative;
  padding-top: 50px;
  text-align: center;
  box-sizing: border-box;
}

.hero-video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.hero-title {
  max-width: 500px;
  margin: 0 auto 50px;
}

.about {
  position: relative;
  padding: 50px 0;
  color: #2de2e6;
  box-sizing: border-box;
}

.about-title {
  margin: 0;
  text-align: center;
  font-size: 42px;
  letter-spacing: 5px;
}

.about-img {
  display: block;
  max-width: 200px;
  margin: 25px auto;
  border-radius: 50%;
  border: 20px solid #210f5b;
  text-align: center;
}

.about-text {
  max-height: 200px;
  overflow-y: auto;
  text-align: center;
}

.about-text::-webkit-scrollbar {
  width: 5px;
}

.about-text::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.about-text::-webkit-scrollbar-thumb {
  background: #d40078;
}

.contact {
  padding: 150px 0;
  text-align: center;
  text-transform: uppercase;
  background: url(https://20bhum38099q1o8x05151xl1-wpengine.netdna-ssl.com/wp-content/uploads/2018/01/retrowave_stinger.jpg) center top/cover no-repeat fixed;
}

.contact-title {
  margin-bottom: 25px;
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 25px;
}

.form-field input {
  width: 100%;
  height: 40px;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #9700cc;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  transition: all 250ms;
}

.form-field input:focus {
  color: #fff;
  text-shadow: 2px 0px 2px rgba(255, 0, 255, 0.5), -2px 0px 2px rgba(0, 255, 191, 0.5), 0px 0px 10px rgba(49, 122, 255, 1);
  box-shadow: 0 0 10px 5px #9700cc;
  background-color: rgba(255, 255, 255, 0.25);
}

.footer {
  position: relative;
  box-sizing: border-box;
  background-color: #2B2B2B;
}

.networks-title {
  font-size: 28px;
}

.networks-list {
  max-width: 80px;
  margin: 30px 0;
  color: #2de2e6;
  list-style: square;
}

.networks-list__item a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
}

.networks-list__item a:hover {
  color: #2de2e6;
  text-decoration: none;
}

.networks-text {
  max-width: 400px;
  margin: 15px auto;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  text-align: center;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  color: #2de2e6;
  box-shadow: 0 0 15px 0 #9700cc;
  background-color: #000;
}

#toggle-audio {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 20px;
  border-color: transparent transparent transparent #2de2e6;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 12px 0 12px 15px;
  outline: none;
}

#toggle-audio.paused {
  border-style: double;
  border-width: 0 0 0 20px;
}

#toggle-audio:hover {
  border-color: transparent transparent transparent #035ee8;
}

#callback {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 15px;
  bottom: 15px;
  background: url(https://image.winudf.com/v2/image1/Y29tLnNva28uYWVzdGhldGljLnZhcG9yd2F2ZS5hcnQud2FsbHBhcGVyLkhEX2ljb25fMTU1MTg1NjQzNV8wNzE/icon.png?w=340&fakeurl=1) center center/50px 50px no-repeat;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  z-index: 3;
}

#callback:hover {
  animation: pulse-synth 1.5s infinite linear;
}

@keyframes pulse-synth {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(246, 1, 157, 0.7);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 5px rgba(246, 1, 157, 0.25);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(246, 1, 157, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(246, 1, 157, 0);
  }
}